h2 {
  font-size:40px;
  color: #8B4513;
  text-align: center;
}

.contact-container {
  max-width: 400px;
  margin:  auto;
  margin-top: 60px;
  margin-bottom: 140px;
  padding: 40px 30px;
  border: 1px solid #d6a359;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 10px #d6a359;
}


.contact {
  padding: 20px;
  display: flex;

}


.section {
  margin-bottom: 25px;
  text-align: left;
  width: 300px;

}

.section label {
  color: #8B4513;
}

.section input {
  width: 100%;
  padding: 12px 15px;
  margin-top: 8px;
  border-radius: 10px;
  border: 2px solid #d6a359;
  background-color: #ffffff;
  font-size: 14px;

}
section textarea {
  width: 100%;
  padding: 15px;
  margin-top: 8px;
  border-radius: 12px;
  border: 2px solid #d6a359;
  background-color: #ffffff;
  font-size: 14px;
  resize: none;
}

.send-btn {
  background-color: #66b3a1;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.send-btn:hover {
  background-color: #000000;
}