*{
    font-family: serif;
}
nav{
    position: relative;
    border-bottom:1px solid #D6A359 ;
    margin-bottom: 80px;
}
.logo{
    width: 200px;
    height: 180px;
    left: 100px;
    position: absolute;
    top: -15px;
}
.nav-txt{
    margin-left:40%;
    display: block;
    width: 100%;
}

li a{
   color: #D6A359 !important ; 
   font-size: 25px !important;
}
.dvs{
    width: 200px;
    height: 62px;
}
.sgnin{
    text-decoration: none;
    color: #D6A359;
}
a{
    text-decoration: none;
}
.navbar-brand{
    font-size: 25px !important;
}
/* .main-section{
    padding: 1px 125px;
} */
.sdimg{
    width: 600px;
    height: 600px;
     border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.stsec{
    text-align: center;
    font-size: 40px;
}
.stsec>h1{
font-size: 60px;
color: #8B4513;
}
.btnoutline{
    background-color:  #64B0AB;
    width: fit-content;
    border: 10px solid #D6A359 ;
    border-radius: 10px;
    color: white;
}
div>h2{
color: #8B4513;
}
.nxtbtn{
    display: inline-block;
    /* width: 160px; */
    text-align: start;
    color: #64B0AB ;
    font-size: 15px;
    padding-top: 2px;
    vertical-align: top;
}
/* .btnoutline span{
    width: 160px;
    background-color: #64B0AB;
} */
 .ship{
    position: relative;
    top: -357px;
    left: 80px;
    width: 400px;
    height: 350px;
}
.waterboat{
    height: 290px;
}

.main-body{
    display: flex;
    justify-content: space-between;
}
hr{
    width: 88%; 
    margin-left: 90px;
    margin-top: 70px;
}
.thick-line{
    height: 12px;
    background-color: #18a89f;
    border-radius: 10px;
    width: 88%;
    margin-left: 90px;
    margin-top: 50px;
}
article{
    background-color: #D6A359;
    border: 1px #D6A359 solid;
    border-radius: 20px;
    width: 30%;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    height: 500px ;
    text-align: center;

}
article h2{
    color: white;
}
article img{
    width: 300px;
    height: 300px;
}

/* .artdata{
    gap: 100px;
} */
.tpdiv{
  vertical-align:top;
  position: relative;
}
 .ar3{
    position: absolute;
    top: 10px ;
 }
  .top{
    font-size: 60px;
    color: #8B4513;
    display: inline-block;
    margin-left: 50px;
  }
  .widecard{
    margin-left: 30px;
    margin-top: 50px;
    width: fit-content;
  }
  .crd{
    border: solid 2px black;
    background-color: #F7F7F7;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    margin-left: 15%;
  }
  .stcrd{
    margin-top: 20px;
  }
  .brwz{
    position: absolute;
    bottom: -6px;
    right: 30px;
    z-index: 0;
    width: 469px;
  }
  .crd-data{
    font-size: 20px;
    font-weight: bold;
  }
  
  .he{
      font-size: 60px;
    font-weight: bolder;
  }
  .b2{
    width: 450px;
    bottom: -5px;
    right: 35px;
  }
  .he2{
    font-size: 39px;
    font-weight: bolder;
  }
  
.ndcrd{
    margin-bottom: 200px;
  }







/* 
  footer{
      position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: #F7F7F7;
    margin-top: 30px;
    padding-left: 20px;
  }
  .ftr-img{
    position: absolute;
    left: 0px;
    top: -70%;
    width: 376px;
  }
  .ftr1{
    padding-top: 50px;
  }
  .socialdiv{
    text-align: center;
  }
  .ftrline{
    width: 88%; 
    margin-left: 90px;
    margin-top: 70px;
  } */